<p>job-table works!</p>

<table class="table table-striped">
	<thead>
		<tr>
			<th scope="col">#</th>
			<th scope="col">Title</th>
			<th scope="col">Organization</th>
			<th scope="col">Location</th>
		</tr>
	</thead>
	<tbody>
    <tr *ngFor="let job of jobDescriptions; index as i">
      <th scope="row">{{ i + 1 }}</th>
      <td>{{ job.websiteTitle }}</td>
      <td>{{ job.websiteOrganization }}</td>
      <td>{{ job.websiteLocation.toLowerCase() }}</td>
      <td> {{ job.websiteDatePublished | date: 'shortDate'}}</td>
    </tr>
	</tbody>
</table>
